*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*-----Service-----*/

#Service{
  width: 100%;
  padding: 100px 0 50px;
  background: #F5F5DC;

}
.service-box{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service{
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #000000;
  position: relative;
}
.single-service img{
  width: 100%;
  border-radius: 5pxl;
  transition: transform .5s;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(241, 196, 15,0.3),rgba(189, 195, 199,0.8));
  opacity: 0;
  transition: transform .5s;
}
.single-service:hover .overlay{
  transform: translateY(-7px);
  opacity: 1;
}

}
